@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Marcellus&family=Quattrocento&display=swap");

:root {
    --primary-color: #01061d;
    --white: #fff;
    --grey: #333;
    --lightgrey: #666;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    color: var(--grey);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--grey);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.1;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
    box-shadow: 0 0 50px 50px white inset;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: 0.5s;
    display: none;
}

.scrollup i {
    font-size: 25px;
    color: var(--white);
}

/* Navbar */

.logo {
    font-family: "DM Serif Display", serif;
}
.navbar {
    background-color: #01061d;
    background-color: var(--primary-color);
    color: var(--white);
    height: 75px;
    box-shadow: 1px 1px 1px var(--grey);
}
.sticky {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    font-family: "Quattrocento", serif;
    font-weight: 500;
    color: var(--white);
    padding: 8px;
    margin: 0 5px;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 2px var(--white) Solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: var(--white);
    position: relative;
}

.showcase h1,
.testimonials h1,
.about-head h1,
.about-sub-head h1 {
    font-size: 40px;
}

.showcase p {
    padding: 20px 0;
}

.showcase .grid {
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    overflow: visible;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
    animation: slideInFromRight 1s ease-in;
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 1;
}

.designshowcase::before,
.designshowcase::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--white);
    transform: skewY(-3deg);
}

/* Stats */
.stats {
    animation: slideInFromBottom 1s ease-in;
    padding-top: 100px;
}

.stats-heading {
    max-width: 700px;
    margin: auto;
    font-family: "Quattrocento", serif;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

.f1 {
    position: relative;
    height: 500px;
}

.f1 .grid {
    grid-template-columns: 4fr 3fr;
}

/* Top Waves */
.custom-shape-divider-top-1661674014 {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1661674014 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1661674014 .shape-fill {
    fill: #ffffff;
}

/* Bottom Waves */
.custom-shape-divider-bottom-1661674168 {
    position: absolute;
    bottom: -4;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1661674168 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1661674168 .shape-fill {
    fill: #ffffff;
}

/* Bottom Circle */
.custom-shape-divider-bottom-1661697121 {
    position: absolute;
    bottom: -1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1661697121 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1661697121 .shape-fill {
    fill: #ffffff;
}

/* Footer */
.footer .social a {
    margin: 0 10px;
}

.footer nav ul {
    display: flex;
    gap: 10px;
}

.footer nav ul a {
    padding: 2px;
    margin: 2px;
}

.footer nav ul a:hover {
    border-bottom: 1px solid var(--white);
}

.footer .grid {
    grid-template-columns: 1fr 3fr 1fr;
}

.nav-burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

/* Testimonial */
.testimonials {
    padding: 40px 0;
    background: var(--white);
    color: var(--grey);
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: var(--primary-color);
    margin: 26px auto;
}

.testimonial {
    background: var(--white);
    padding: 30px;
}
.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.stars {
    color: var(--primary-color);
    margin-bottom: 20px;
}

/* About Header */
.about-head {
    animation: slideInFromTop 1s ease-in;
    position: relative;
}
.about-head i {
    z-index: 1;
    color: var(--white);
    justify-self: flex-end;
}

.about-head::before,
.about-head::after {
    content: "";
    position: absolute;
    height: 70px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--white);
    transform: skewY(3deg);
}

.about-sub-head {
    margin-top: 50px;
    animation: slideInFromBottom 1s ease-in;
    margin-bottom: 50px;
}
.about-sub-head .grid {
    grid-template-columns: 30% 70%;
    overflow: hidden;
}

.lottie-player {
    justify-self: flex-start;
    height: 15rem;
}

/* About Main*/
.about-main {
    animation: slideInFromRight 1s ease-in;
}
.about-main .card > i {
    margin-right: 20px;
}

.about-main .grid {
    padding: 30px;
}

.about-main .grid > *:first-child {
    grid-column: 1 / span 3;
}
.about-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

/* Contact */
.contact-main {
    margin-top: 70px;
    position: relative;
}

.contact-main .container .contact-info {
    padding: 30px !important;
    display: flex;
    flex-direction: column;
}

.contact-main .container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-main .container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: var(--white);
}

.contact-main .container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: var(--grey);
    flex-direction: column;
}

.contact-main .container .contact-info .box h3 {
    font-weight: bold;
    color: var(--secondary-color);
}

.contact-main .contact-form {
    padding: 30px !important;
}
.contact-main .contact-form h2 {
    padding-bottom: 10px;
    color: var(--grey);
    font-weight: 500;
}

.contact-main .contact-form .form-input {
    position: relative;
    margin-top: 10px;
}

.contact-main .contact-form .form-input input,
.contact-main .contact-form .form-input textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid var(--grey);
    outline: none;
    resize: none;
}

.contact-main .contact-form .form-input span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: var(--lightgrey);
}

.contact-main .contact-form .form-input input:focus ~ span,
.contact-main .contact-form .form-input input:valid ~ span,
.contact-main .contact-form .form-input textarea:focus ~ span,
.contact-main .contact-form .form-input textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-main .contact-form .form-input input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    cursor: pointer;
}

/* Tables and under */
@media only screen and (max-width: 980px) {
    .logo {
        font-size: 45px;
    }
    .navbar {
        height: 510px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .navbar .flex,
    .navbar ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar li {
        font-size: 32px;
        padding: 6px;
        margin: 5px;
    }

    p {
        font-size: 1.8rem !important;
    }

    .nav-resp {
        height: 75px;
    }

    .list-resp {
        opacity: 0;
    }

    .nav-burger {
        display: block;
    }

    .btn {
        font-size: 2rem;
    }

    .footer p {
        font-size: 20px !important;
    }

    .footer .flex li a {
        font-size: 20px !important;
    }

    .testimonials .grid {
        grid-template-columns: 1fr;
    }

    .scrollup {
        width: 80px;
        height: 80px;
        bottom: 15px;
        right: 15px;
    }

    .scrollup i {
        font-size: 40px;
    }

    .about-main .grid > *:first-child {
        grid-column: 1 / span 3;
    }
    .about-main .grid > *:nth-child(2) {
        grid-column: 1 / span 3;
    }
    .about-main .grid > *:nth-child(3) {
        grid-column: 1 / span 3;
    }
    .about-head i {
        font-size: 150px;
    }

    .showcase-text {
        animation: slideInFromTop 1s ease-in;
    }
    .showcase-form {
        animation: slideInFromBottom 1s ease-in;
    }

    .contact-main {
        padding: 50px;
    }
    .contact-main .container {
        flex-direction: column;
    }
    .contact-main .grid {
        display: block;
    }
    .contact-main .contact-info,
    .contact-main .contact-form {
        margin-top: 20px;
        width: 100%;
    }
    .contact-main .contact-form .form-input {
        height: 80px;
    }
    .contact-main .contact-form span {
        top: -10px;
        font-size: 25px !important;
    }
}
